.container {
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    margin: 150px auto;
    padding: 0 30px 30px 30px;
    min-height: 300px;
}

.formField input {
    width: 300px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
}

.formField {
    margin-top: 20px;
}

.formField span {
    text-align: left;
    color: red;
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
}

.formField input:focus {
    outline: none;
    border: 1px solid #1a73e8;
}

.formField div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formField  lable {
    color: #303030;
}

.btnContainer {
    margin-top: 40px;
}

.btnContainer a {
    text-decoration: none;
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 7px 0;
    font-size: 1rem;
    background-color: #303030;
    border-radius: 5px;
}

.btnContainer button {
    width: 100%;
    border: none;
    color: #fff;
    background-color: blueviolet;
    cursor: pointer;
    padding: 7px 0;
    font-size: 1rem;
    margin-top: 15px;
    background-color: #1a73e8;
    border-radius: 5px;
}