.mainContainer {
    background-color: #fff;
    width: fit-content;
    margin: 100px auto;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 13px 4px #929297
}

.formContainer span {
    text-align: left;
    color: red;
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
}

.formField input {
    width: 300px;
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
}

.formField input:focus {
    outline: none;
    border: 1px solid #1a73e8;
}

.formField div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
    color: #303030;
}

.checkBox {
    margin-top: 30px;
}

.checkBox lable {
    margin-right: 10px;
    color: #303030;
}

.checkBox span {
    text-align: center;
}

.btnContainer {
    margin-top: 40px;
}

.btnContainer a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color: blueviolet;
    padding: 7px 0;
    font-size: 1rem;
    background-color: #303030;
    color: #fff;
    border-radius: 5px;
}

.btnContainer button {
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    background-color: brown;
    border: none;
    padding: 7px 0;
    font-size: 1rem;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 5px;
}

.btnContainer button:disabled {
    cursor: not-allowed;
    background-color: red;
}
